@charset "UTF-8";
/* CSS Document */

body {
  background-color: #000000;
  font-size:12px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  margin: 0px;
}
* {
  margin: 0px;
  padding: 0px;
}
div#outer {
  width: 1002px;
  background-color:#FFFFFF;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
div#header {
  text-align: center;
  background-image: image-url('shared/header.jpg');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 535px;
  position: relative;
}
#header div#news {
  height: 210px;
  width: 205px;
  color: #520A00;
  font-weight: bold;
  position: absolute;
  left: 705px;
  top: 210px;
}
#header div.nav {
  height: 30px;
  width: 900px;
  color: #CCCCCC;
  font-weight: bold;
  position: absolute;
  top: 480px;
  left: 51px;
}
#header .nav .button {
  float: left;
  height: 25px;
  width: 150px;
  padding-top: 5px;
  background-image: image-url('shared/navDivider.png');
  background-repeat: no-repeat;
  background-position: left top;
  padding-left: 10px;
  color: #445D88;
  font-size: 13px;
  text-decoration: none;
}
#header .nav .first {
  margin-left: 65px;
  background-image: none;
  padding-left: 0px;
}
#header .nav a {
  color: #445D88;
  font-size: 13px;
  text-decoration: none;
}
div#main {
  background-image: image-url('shared/main.gif');
  background-repeat: repeat-x;
  background-position: 0px 0px;
  background-color: #A49757;
}
#main div.nav {
  width: 230px;
  padding: 10px;
  float: left;
}
div#content {
  margin-left: 280px;
  padding: 10px;
}
div#footer {
  padding: 5px;
  text-align: center;
  clear: both;
}
#footer p {
  font-size: 10px;
  color: #333333;
}
#main div.nav ul {
  background-image: image-url('shared/navDash.gif');
  background-repeat: repeat-x;
  background-position: left top;
  padding-top: 1px;
  list-style-image: none;
  list-style-type: none;
}
#main div.nav li {
  background-image: image-url('shared/navDash.gif');
  background-repeat: repeat-x;
  background-position: left bottom;
  padding-bottom: 1px;
}
#main div.nav li a {
  background-image: image-url('shared/navArrow.gif');
  background-repeat: no-repeat;
  background-position: 5px 7px;
  font-size: 12px;
  text-decoration: none;
  display: block;
  color: #000000;
  text-indent: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}
#main div.nav li a:hover {
  background-color: #B1A561;
}
#content a {
  font-weight: bold;
  color: #445D88;
  text-decoration: underline;
}
#content a:hover {
  color: #393324;
}
h1 {
  margin-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: bold;
  color: #560000;
}
h2 {
  color: #560000;
}
p {
  margin-bottom: 10px;
}
img {
  text-align: center;
}
input {
  margin-top: 2px;
  margin-bottom: 2px;
}
td {
  vertical-align: top;
}
.galleryTable {
  td {
    width: 135px;
    height: 105px;
  }
}
.contact-us {
  img {
    float:right;
    margin-left:15px;
    margin-bottom:10px;
  }
}
.contact-form {
  background-color: #dedac6;
  display: inline-block;
  padding: 0.5em 2em;
  margin: 0.75em 0;
  width: 310px;

  input, textarea, button {
    width: 95%;
    display: inline-block;
    padding: 0.2em 0.3em;
    margin: 0.5em auto;
  }

  input[type=submit] {
    width: auto;
    display: block;
    padding: 0.3em 2em;
  }
  .error {
    background-color: #e38888;
    margin: 0.5em auto;
    padding: 0.5em 1em;
    border: #e37676 solid 1px;
    display: block;
    width: 80%;
  }
}

.success {
  background-color: #aacea9;
  margin: 0.5em 0;
  padding: 1em 40px 0em;
  border: #7e987d solid 1px;
  display: block;
  width: 280px;
  text-align: center;
  font-size: 1.1em;
  vertical-align: middle;
}

.itemRow {
  background-color: #999999;
  padding: 5px;
  margin-bottom: 5px;
  height: 180px;
  background-image: image-url('items/itemRow.jpg');
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.itemThumb {
  width: 120px;
  height: 180px;
  display: table;
  float: left;

  a {
    height: 180px;
    display: table-cell;
    vertical-align: middle;
  }
  img {
    max-width: 120px;
    max-height: 180px;
    width: auto;
    height: auto;
    display: inline-block;
  }
}

.itemDesc {
  float: right;
  width: 562px;
  text-align: center;
  padding-top: 45px;

  p {
    font-weight: bold;
    margin-top: 40px;
    font-size: 18px;
  }
}
div.sectionHeading {
  font-size: 14px;
  font-weight: bold;
  color: #A49757;
  background-color: #4A0000;
  padding-top: 3px;
  padding-right: 12px;
  padding-bottom: 3px;
  padding-left: 12px;
}
div.sectionContent {
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #A08958;
  border-bottom-color: #A08958;
  border-left-color: #A08958;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
p.photos {
  margin-bottom: 10px;
  text-align: center;

  img {
    max-height: 400px;
    max-width: 100%;
  }
}
#purchaseTable   td {
  color: #4A0000;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 15px;
}
#purchaseTable {
  margin-right: auto;
  margin-left: auto;
}
input.textField  {
  width: 250px;
  background-color: #BAAD66;
  border: 1px solid #827B48;
  padding: 3px;
}
input.button {
  color: #A08958;
  background-color: #710000;
  padding:0px 10px;
  border: 1px solid #4A0000;
  font-weight: bold;
}
#contact-info {
  margin: 5px auto;
}
#contact-info th {
  font-weight: bold;
  padding: 3px 10px;
}
#contact-info td {
  padding: 3px 10px;
}
.subheading {
  margin-bottom: 1em;
  text-align: center;
}
